* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

	html, body {
		height: 100%;
		width: 100%;
	}

		body {
			background: #000;
			color: #999;
			font-family: Helvetica, Arial, Sans-serif;
			font-size: 14px;
		}

		.grid {
			height: 100%;
			position: relative;
			width: 100%;
		}

		.cell {
			clear: none;
			display: block;
			float: left;
			height: 50%;
			overflow: hidden;
			padding: 0;
			padding-top:30px;
			position: relative;
			width: 50%;
		}

			.cell h2 {
				background: #000;
				font-size: 14px;
				line-height: 20px;
				opacity: 0.9;
				padding: 0 10px;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 999;
			}

			.cell h3 {
				background: #444;
				color: #000;
				cursor: pointer;
				font-size: 10px;
				line-height: 20px;
				right: 0;
				padding: 0 10px;
				position: absolute;
				top: 0;
				z-index: 9999;
			}

				.cell h3:hover {
					background: #666;
					color: #ccc;
				}

			.cell textarea {
				background: #220;
				color: #ccc;
				font-family: "Lucida Console", Monaco, monospace;
				height: calc(100% - 21px);
				left: 0;
				top: 20px;
				padding: 5px;
				position: absolute;
				resize: none;
				width: calc(100% - 1px);
			}